@use 'global' as *;

.container {
  .section {
    background-color: var(--color-background);

    h3 {
      color: var(--color-primary);
      width: 100%;
      font-size: 30px;
      text-align: center;
      position: relative;
      padding-bottom: 15px;
      text-transform: uppercase;
      margin-bottom: 30px;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background: #ffb600;
        bottom: 0;
        left: calc(50% - 20px);
      }
    }
  }

  &.light {
    .section:nth-child(2n) {
      background-color: #f0f0f0;
    }
  }

  &.dark {
    .section:nth-child(2n - 1) {
      background-color: $mat-black;
    }

    h3 {
      &::after {
        background: #00b0ef;
      }
    }
  }
}
