@use 'global' as *;

.container {
  // width: 100%;
}

.panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: var(--color-primary);

  .collapse {
    width: 100%;
  }

  .title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    // text-decoration: underline;
    font-size: 22px;
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;

    a {
      color: var(--color-primary);
    }

    p {
      margin: 0;
    }

    .logo {
      margin-right: 15px;
      margin-left: 15px;
    }

    .detail {
      width: 100%;
      margin-right: 30px;

      .institution,
      .name {
        font-weight: 700;
      }

      .credential {
        font-size: 12px;
      }

      @include mobile {
        min-width: 612px;
        width: initial;

        .logo {
          margin-left: 30px;
        }
      }
    }
  }
}
