@use 'global' as *;

.container {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 0px 30px;

  @include minMax(700px, 1000px) {
    max-width: 700px;
  }

  @media screen and (min-width: 1000px) {
    max-width: 1001px;
  }
}

.body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: column;
    max-width: 317px;
    min-height: 385px;
    margin-bottom: 25px;
    border: 1px solid #b3b5b7;
    border-radius: 5px 5px;

    .imageContainer {
      cursor: pointer;
      max-height: 185px;
      border-radius: 15px;
      position: relative;

      .overlay {
        background: rgba(0, 0, 0, 0.33);
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 5px 5px 0 0;
      }

      .image {
        border-radius: 5px 5px 0 0;
      }
    }

    .content {
      background: #fff;
      padding: 15px;
      min-height: 225px;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      border-radius: 0 0 5px 5px;

      &.dark {
        background: #161616;
        color: var(--color-primary);
      }

      .project {
        .header {
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;

          .links .link:first-of-type {
            margin-right: 5px;
          }
        }
      }

      h5 {
        font-weight: 600;
      }
    }

    @media (min-width: 700px) {
      margin-right: 25px;
    }
  }

  @include minMax(719px, 1060px) {
    .card:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include minMax(700px, 718px) {
    margin-right: 0;
  }

  @media screen and (min-width: 1060px) {
    justify-content: start;

    .card:nth-child(3n) {
      margin-right: 0;
    }
  }
}
