@use 'global' as *;

.btn {
  border-radius: 25px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  min-width: 150px;
  height: 34px;
  line-height: 0.75;
  padding: 0 30px;
  text-align: center;
  text-transform: capitalize;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.success {
  background-color: $green;
  border: solid 1px $green;
  color: $white;

  &:hover,
  &:active {
    background-color: $dark-green;
    color: $white;
    border: solid 1px $dark-green;
  }
}

.primary {
  background-color: $blue;
  border: solid 1px $blue;
  color: $white;

  &:hover,
  &:active {
    background-color: $dark-blue;
    color: $white;
    border: solid 1px $dark-blue;
  }
}

.secondary {
  background-color: transparent;
  border: solid 1px $lightblue;
  color: $lightblue;

  &:hover,
  &:active {
    background-color: $blue;
    color: $white;
    border: solid 1px $blue;
  }
}

.tertiary {
  background-color: transparent;
  border: solid 1px #7c7e80;
  color: #7c7e80;

  &:hover,
  &:active {
    background-color: #7c7e80;
    color: $white;
    border: solid 1px #7c7e80;
  }
}
