@use 'global' as *;

.header {
  display: flex;
  justify-content: space-between;
  color: $white;
  display: flex;
  width: 100%;
  height: 45px;
  background-color: #161616;
  align-items: center;
  border-bottom: 2px solid $yellow;
  // padding: 0 30px;
  padding: 0 15px;
  position: fixed;
  z-index: 1;

  &.secondary {
    background-color: $black;
    border-bottom: 2px solid $lightblue;
  }

  .nav {
    width: 100%;
    min-width: 326px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .listSection {
      // width: 154px;
      display: flex;
      flex-flow: row;
      align-items: center;

      .menu {
        display: flex;
        background: transparent;
        border: none;
        // padding: 5px;
        border-radius: 50px;
        cursor: pointer;
      }

      .list {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
        align-content: center;
        margin: 0 0 0 10px;
        padding: 0;
        list-style-type: none;

        li a {
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 16px;
          margin-right: 10px;
          cursor: pointer;
        }

        li.active > a {
          color: $yellow;
        }

        &.dark li.active > a {
          color: #00b0ef;
        }

        li:hover:not(.active) > a {
          color: #d7d7d7d7;
        }
      }
    }

    @media (min-width: 1060px) {
      // justify-content: unset;
      padding: 0 120px;
    }
  }
}

.drawerBody {
  padding: 0px !important;
  background-color: var(--color-background) !important;

  .list {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-items: start;
    max-height: 250px;
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      height: 55px;
      width: 100%;
      text-decoration: none;

      &:hover {
        background-color: #333;
        border: 0;
        border-radius: 0 48px 48px 0;
        margin-right: 4px;
        width: 240px;
        cursor: pointer;
      }
    }

    li a {
      color: var(--color-primary);
      text-transform: uppercase;
      text-decoration: none;
      font-size: 16px;
      margin-left: 15px;
      cursor: pointer;
    }

    li.active {
      background-color: #333;
      border: 0;
      border-radius: 0 48px 48px 0;
      margin-right: 4px;
      width: 240px;
      cursor: pointer;
    }

    li.active > a {
      color: $yellow;
    }

    &.dark li.active > a {
      color: #00b0ef;
    }

    li:hover:not(.active) > a {
      color: #d7d7d7d7;
    }
  }
}

.subheader {
  color: $white;
  background-color: #161616;
  padding: 45px 30px 15px;
  text-align: center;

  img {
    margin: 15px 0;
  }

  h1 {
    margin: 0 0 15px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 500;

    @include mobile {
      font-size: 36px;
    }
  }

  &.secondary {
    background-color: $black;
  }

  .icon {
    cursor: pointer;
  }
}

.logo {
  margin-top: 5px;
}

.titles {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 15px;
  justify-content: center;

  span {
    width: 100%;
    margin-bottom: 5px;

    &:last-child {
      border-right: none;
    }

    @include mobile {
      font-size: 22px;
      margin-right: 5px;
      border-right: 1px solid #fff;
      padding: 0 10px;
      width: initial;
    }
  }
}

.links {
  display: flex;
  justify-content: center;

  .headerLogoLink {
    margin-right: 10px;

    &:hover {
      color: $yellow;
    }
  }
}
